@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  height: 62px;
}
nav > .left > .title {
  font-size: 28px;
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
  animation: box-transforme 1s ease infinite alternate;
}
@keyframes box-transforme {
  form {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
nav > .left > .title > span {
  color: #28df99;
}
.links-parent {
  position: relative;
}
nav > .links-container {
  display: flex;
  flex-direction: row;
}
nav .nav-link {
  margin: 0 12px;
  color: rgba(128, 128, 128, 0.667);
  height: 62px;
  display: flex;
  font-family: "Eagle Lake", serif;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 12px;
}
nav .nav-link:hover {
  color: #09d6ad;
  cursor: pointer;
  background-color: rgba(71, 218, 169, 0.203);
}
.dropdown-menu {
  background-color: #09d6ad;
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  display: none;
}
nav .nav-link:hover ~ .dropdown-menu {
  display: block;
}
nav .nav-link::before {
  content: "";
  width: 0;
  height: 4px;
  background-color: #99f3bd;
  top: 0;
  position: absolute;
  left: 0;
  transition: 1s all ease;
}
.nav-link:hover::before {
  width: 100%;
}

nav .dropdown-item {
  padding: 6px 12px;
}
nav .dropdown-item:hover {
  background-color: #6fdfc9;
  color: white;
  cursor: pointer;
}
.icon-container {
  display: none;
  position: relative;
}
@media screen and (max-width: 830px) {
  nav > .links-container {
    display: none;
  }
  .icon-container {
    display: block;
  }
  svg:hover ~ .responsive-nav-dropdown {
    display: block;
    z-index: auto;
  }
  #boxes-all {
    display: none;
  }
}
.responsive-nav-dropdown {
  color: rgba(128, 128, 128, 0.667);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 100%;
  right: 0;
  position: absolute;
  margin: 0;
  width: 172px;
  background-color: rgb(255, 255, 255);

  display: none;
}
.responsive-nav-dropdown-item {
  padding: 6px;
  right: 0;
  padding: 0;
  margin: 12px;
}
#header {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(canada2.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
#header .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 172px;
  color: rgb(255, 255, 255);
}
#header .text h2 {
  font-size: 28px;
  font-family: "Eagle Lake", serif;
}
#header input {
  width: 390px;
  height: 52px;
  padding: 22px 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}
#header .location {
  border-left: 1px solid rgba(137, 136, 136, 0.836);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
#header .search {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
#header .search-svg {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#header .liste {
  position: relative;
  left: 48px;
}
#header .location-logo {
  position: relative;
  left: -372px;
}
#header button {
  padding: 24px 26px;
  position: relative;
  left: -12px;
  outline: none;
  border-radius: 6px;
  border: none;
  height: 52px;
  background-color: #28df99;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header button:hover {
  background-color: #99f3bd;
  transition: 0.5s all ease;
  cursor: pointer;
}
#header button svg {
  margin: -2px 4px;
}
#boxes-all {
  margin-top: -132px;
}
#boxes-all .box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#boxes-all .box-container .mini-box p {
  margin-top: -12px;
}
#boxes-all .box-container .mini-box {
  background-color: #28df99;
  margin: 0px 46px;
  width: 190px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  border: none;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.308) 0px 19px 38px,
    rgba(0, 0, 0, 0.37) 0px 15px 12px;
}
#boxes-all .box-container .mini-box:hover {
  transition: all 1s ease;
  background-color: white;
  transform: scale(1.1);
  cursor: pointer;
}
#how-it-works-container {
  margin-top: 152px;
  padding: 2px 0;
}
#how-it-works-container .text {
  text-align: center;
}
#how-it-works-container .boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#how-it-works-container .mini-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 260px;
  height: 430px;
  margin: 0 24px;
  box-shadow: rgba(27, 27, 44, 0.541) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.425) 0px 3px 7px -3px;
  border-radius: 8px;
}
#how-it-works-container .mini-box:hover {
  background-color: #28df99;
  transition: 1s all ease;
}

#how-it-works-container .mini-box:hover p {
  color: white;
  transition: 0.6s all ease;
}
#how-it-works-container p {
  text-align: center;
  color: rgb(150, 148, 148);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#how-it-works-container h3 {
  font-family: "Eagle Lake", serif;
}

#how-it-works-container button {
  margin-top: 42px;
  padding: 12px 22px;
  border-radius: 6px;
  color: rgb(192, 38, 38);
  border: 1px solid rgb(179, 177, 177);
  cursor: pointer;
}
#how-it-works-container .logo {
  background-color: rgb(236, 227, 227);
  border-radius: 50%;
  padding: 20px;
}
#some-destinations-for-vacation-container {
  margin-top: 92px;
}
#some-destinations-for-vacation-container .text {
  display: flex;
  align-items: center;
  justify-content: center;
}
#some-destinations-for-vacation-container .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px 18px;
}
#some-destinations-for-vacation-container .mini-box {
  width: 960px;
  height: 270px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  margin: 18px 0;
  box-shadow: rgba(0, 0, 0, 0.374) 0px 5px 15px;
}
#some-destinations-for-vacation-container .mini-box:hover {
  transition: 1s all ease;
  transform: scale(1.05);
  cursor: pointer;
  background-color: #d2f6c5;
}
#some-destinations-for-vacation-container .left {
  flex: 1;
}
#some-destinations-for-vacation-container .right {
  flex: 2;
  padding-left: 26px;
  padding-right: 12px;
}
#some-destinations-for-vacation-container .left img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
#some-destinations-for-vacation-container .right h2 {
  font-family: "Eagle Lake", serif;
}
#about-container {
  display: flex;
  padding: 18px 24px;
  background-color: #28df99;
}
#about-container .left {
  margin-right: 16px;
  padding: 0 22px;
}

#about-container .text {
  text-align: center;
}
#about-container .left .img-container {
  justify-content: center;
  align-items: center;
  display: flex;
}
#about-container img {
  border: 2px solid red;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#about-container .contact-container {
  background-color: rgba(0, 242, 255, 0.811);
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  border: none;
  border-radius: 6px;
}
#about-container .contact-container .btn {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background-color: #28df99;
  width: 80%;
  height: fit-content;
  text-align: center;
}
#about-container .contact-container .btn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: 0.4s all ease;
}
#about-container .contact-container input {
  width: 80%;
  border-radius: 6px;
  height: 22px;
  border: none;
  margin-bottom: 12px;
  outline: none;
  padding: 8px 12px;
}
textarea {
  margin-bottom: 12px;
  width: 80%;
  padding: 8px 12px;
  outline: none;
  height: 70px;
  resize: none;
  border: none;
}
